.header {
  background-color: #6cc9d9;
}

img {
  width: 485px;
  height: 89px;
}

.container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: repeat(12, 1fr);
  column-gap: 8px;
  align-items: center;
  border: solid 10px #6cc9d9;
}

img {
  display: flex;
}

.donation {
  grid-column: 8 / 12;
  background-color: lightgray;
  border: solid 2px #80a03e;
  height: 100%;
  padding: 20px;
}
.disclaimer-container {
  background-color: lightgray;
  border: solid 2px #80a03e;
  display: grid;
}
.app {
  padding: 20px;
  grid-column: 1 / 7;
}
.chars {
  position: relative;
}

.chars .chars-tip {
  visibility: hidden;
  background-color: #6cc9d9;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 280px;
  bottom: 100%;
  left: 15%;
  margin-left: -140px;
  border-radius: 6px;
}

.chars:hover .chars-tip {
  visibility: visible;
}
.chars .chars-tip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #6cc9d9 transparent transparent transparent;
}
.phrase {
  position: relative;
}

.phrase .phrase-tip {
  visibility: hidden;
  background-color: #6cc9d9;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 280px;
  bottom: 100%;
  left: 15%;
  margin-left: -140px;
  border-radius: 6px;
}

.phrase:hover .phrase-tip {
  visibility: visible;
}
.phrase .phrase-tip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #6cc9d9 transparent transparent transparent;
}

button {
  /*  text-decoration: bold;*/
  background-color: #6cc9d9;
  color: #fff;
  border-color: #d98b4c;
  /*    padding-left: 20px;
    padding-right: 20px;*/
}

button.gen {
  font-size: 20px;
  width: 45%;
  height: 50px;
}
button.reset {
  font-size: 20px;
  width: 45%;
  height: 50px;
  float: right;
}

footer {
  text-align: center;
}

.d-text {
  font-family: "Lato", sans-serif;
  font-size: larger;
}

.disclaimer {
  font-family: "Lato", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

.crypto {
  font-family: "Source Code Pro", monospace;
}

.io {
  padding: 20px;
  display: grid;
  grid: auto / 250px 250px auto;
}
@media only screen and (max-width: 600px) {
  .app {
    grid-column: 1;
    grid-row: 1;
    padding: 0%;
    width: auto;
    height: auto;
  }
  .tags {
    padding-right: 5px;
  }
  .io {
    max-width: 80vw;
    display: block;
  }
  .donation {
    display: none;
  }
  .container {
    display: block;
    max-width: 90vw;
  }
  #input #output #wordBox {
    padding: 0;
    margin: 0;
    display: block;
  }
  .keywords .tags .unused {
    display: block;
    align-items: stretch;
    justify-content: space-evenly;
  }
  #unwanted {
    max-width: 65vw;
  }
  button.gen {
    width: 25vw;
    max-width: 50vw;
    display: inline-block;
    margin: 2px;
  }
  .disclaimer-container {
    display: hidden;
  }
  img {
    max-width: 90vw;
  }
}
