.header {
  background-color: #6cc9d9;
}

.logo {
  width: 485px;
  height: 89px;
}

.container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: repeat(12, 1fr);
  column-gap: 8px;
  align-items: center;
  border: solid 10px #6cc9d9;
}

img {
  display: flex;
}

.donation {
  grid-column: 8 / 12;
  background-color: lightgray;
  border: solid 2px #80a03e;
  height: 100%;
  padding: 20px;
}
.disclaimer-container {
  background-color: lightgray;
  border: solid 2px #80a03e;
  display: grid;
}
.app {
  padding: 20px;
  grid-column: 1 / 7;
}

button.show {
  /*  text-decoration: bold;*/
  background-color: #6cc9d9;
  color: #fff;
  border-color: #d98b4c;
  /*    padding-left: 20px;
    padding-right: 20px;*/
}

button.gen {
  background-color: #6cc9d9;
  color: #fff;
  border-color: #d98b4c;
  font-size: 20px;
  width: 45%;
  height: 50px;
}
button.reset {
  font-size: 20px;
  width: 45%;
  height: 50px;
  float: right;
}

footer {
  text-align: center;
}

.d-text {
  font-family: "Lato", sans-serif;
  font-size: larger;
}

.disclaimer {
  font-family: "Lato", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

span.crypto {
  font-family: "Source Code Pro", monospace;
}
button.crypto {
  background-color: #6cc9d9;
  color: #fff;
  border-color: #d98b4c;
}
.io {
  padding: 20px;
  display: grid;
  grid: auto / 250px 250px auto;
}
@media only screen and (max-width: 600px) {
  .app {
    grid-column: 1;
    grid-row: 1;
    padding: 0%;
    width: auto;
    height: auto;
  }
  .tags {
    padding-right: 5px;
  }
  .io {
    max-width: 80vw;
    display: block;
  }
  .donation {
    display: none;
  }
  .container {
    display: block;
    max-width: 90vw;
  }
  #input #output #wordBox {
    padding: 0;
    margin: 0;
    display: block;
  }
  .keywords .tags .unused {
    display: block;
    align-items: stretch;
    justify-content: space-evenly;
  }
  #unwanted {
    max-width: 65vw;
  }
  button.gen {
    width: 25vw;
    max-width: 50vw;
    display: inline-block;
    margin: 2px;
  }
  .disclaimer-container {
    display: hidden;
  }
  img {
    max-width: 90vw;
  }
};
    .shown {
      display: block;
    }
    .hidden {
      display: none;
    }
	/* The Modal (background) */
		#insModal {
			position: fixed;
			/* Stay in place */
			z-index: 1;
			/* Sit on top */
			left: 0;
			top: 0;
			width: 75%;
			/* Full width */
			height: auto;
			/* Full height */
			overflow: auto;
			/* Enable scroll if needed */
			background-color: rgb(0, 0, 0);
			/* Fallback color */
			background-color: rgba(0, 0, 0, 0.4);
			/* Black w/ opacity */
			-webkit-animation-name: fadeIn;
			/* Fade in the background */
			-webkit-animation-duration: 0.4s;
			animation-name: fadeIn;
			animation-duration: 0.4s
		}

		/* Modal Content */
		.modal-content {
			position: fixed;
			top: 0;
			background-color: #fefefe;
			width: auto;
			height: auto;
			-webkit-animation-name: slideIn;
			-webkit-animation-duration: 0.4s;
			animation-name: slideIn;
			animation-duration: 0.4s
		}

		/* The Close Button */
		.close {
			color: #6cc9d9;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

		.modal-header {
			padding: 2px 16px;
			background-color: #6cc9d9;
			color: white;
		}

		.modal-body {
			padding: 2px 16px;
		};


		/* .modal-footer {
			padding: 2px 16px;
			background-color: #5cb85c;
			color: white;
		} */
		/* Add Animation */
		@-webkit-keyframes slideIn {
			from {
				top: -300px;
				opacity: 0
			}

			to {
				top: 0;
				opacity: 1
			}
		}

		@keyframes slideIn {
			from {
				top: -300px;
				opacity: 0
			}

			to {
				top: 0;
				opacity: 1
			}
		}

		@-webkit-keyframes fadeIn {
			from {
				opacity: 0
			}

			to {
				opacity: 1
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0
			};

			to {
				opacity: 1}}
.bugReport {
  float: left;
  margin-left: 30px;
}